@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #070b14;
  color: #d0e4f7;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}